name: Android CI

on:
  pull_request:
    branches: [develop]
jobs:
  unit_tests:
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2

      - name: Create Local Properties file
        run:  |
          touch local.properties
          echo apiKey="xxxxx" >> local.properties


      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: Unit tests
        run: ./gradlew test

  android_tests:
    runs-on: [ macos-latest ]
    steps:
      - uses: actions/checkout@v2

      - name: Instrumentation Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: ./gradlew connectedAndroidTest